@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');


body{
	font-family: 300 24px/1.3 "Roboto", Arial, sans-serif;
	background: #ECECEC;
}



/* Layout */
.ba-container{
	padding: 0 20px;
	max-width: 1300px;
}

.ba-header {
	padding-bottom: 50px;
}

.ba-first-title {
	font-family: "Roboto", sans-serif;
	color:  #303030;
	font-size: 48px;
	text-align: left;
	margin-top: 40px;
	text-decoration: none;
	font-weight: 900;
}


.ba-menu  {
	list-style: none;
	float: right;
	padding-top: 40px;
}

.ba-menu a {
	font-family: "Roboto", sans-serif;
	color:  #303030;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	margin: 0 40px;
	float: left;
}
.ba-menu a:hover {
	color:  #e10011;
}

.ba-menu li {
	float: left;
}

.ba-second-title {
	font-family: "Raleway", sans-serif;
	color:  #303030;
	font-size: 150px;
	word-wrap: break-word;
	text-align: right;
	margin: 0;
	font-weight: 900;
	text-transform: uppercase;
}

.ba-floats {
	float: left;
	width: 50%;
	text-align: right;
	font-family: "Roboto", sans-serif;
}

.ba-product-text {
	display: inline-block;
	text-align: right;
	font-family: "Roboto", sans-serif;
	color:  #303030;
	font-size: 24px;
}

.ba-product-img {
	display: inline-block;
	text-align: right;
}

.ba-view {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	text-align: left;
	padding-bottom: 100px;
}

.ba-view:hover {
	color:  #e10011;
}

.ba-content {
	background-color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	font-family: "Raleway", sans-serif;
	margin: 0 auto;
}



.ba-thirt-title {
	font-family: "Raleway", sans-serif;
	color:  #303030;
	font-size: 48px;
	font-weight: 900;
	padding-top: 114px;
    padding-bottom: 28px;
    margin: 0;
}

.ba-grid-cf {
	margin: 30px -35px;
}

.ba-col {
	float: left;
	padding: 30px 35px;
}

.ba-col-65 {
	width: 65%;
}

.ba-col-35 {
	width: 35%;
}

.ba-col-33 {
	width: 33.333%;
}

img {
	height: auto;
}

.ba-featured img {
	display: block;
}


.ba-featured {
	display: block;
	position: relative;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	border-radius: 10px;
}

.ba-work__overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #E10011;
	opacity: 0;
	transition: .3s ease-in;
}

.ba-work__text {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 50%;
	transform: translateY(-50%);
	color: #FFFFFF;
}

.ba-featured h3 {
	font-family: "Roboto", sans-serif;
	margin: 0;
	position: absolute;
	font-size: 28px;
	left: 35px;
	bottom: 40px;
	max-width: 285px;
	text-align: left;
}

.ba-featured h3:after{
	content: "";
	height: 5px;
	background: #FFF;
	width: 112px;
	display: block;
	margin-top: 10px;
}

.ba-featured:hover .ba-work__overlay {
	opacity: 1;
}





/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
