@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
	font-family: 400 25px/1.3 "Roboto", Arial, sans-serif;
	background: #ECECEC;
}



/* Layout */
.ba-container{
	padding: 40px 135px;
	max-width: 1200px;
}

.ba-first-title {
	font-family: "Roboto", sans-serif;
	color:  #303030;
	font-size: 48px;
	text-align: left;
	margin-top: 40px;
}

.ba-menu {
	list-style: none;
	color: #303030;
}

.ba-second-title {
	font-family: "Raleway", sans-serif;
	color:  #303030;
	font-size: 150px;
	display: inline-block;
}

.ba-float-left {
	float: left;
	width: 50%;
}

.ba-product-text {
	display: inline-block;
}

.ba-product-img {
	display: inline-block;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
